# --- Operating System Junk ---
.DS_Store
Thumbs.db

# --- IDEs and Editors ---
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Java & C++ Compiled Binaries ---
*.class
*.out
*.exe
*.o
*.obj

# --- Node.js / JavaScript ---
node_modules/
.npm
